<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/index.css">

  <title>Portofolio</title>
</head>
<body>
  <div class="home-left">
    <header class="header">
      <div class="logo">Yamani Yuda</div>
      <nav>
        <a href="">PORTOFOLIO</a>
        <a href="">CONTACT</a>
      </nav>
    </header>
    <div class="left-container">
      <h1 class="site">WWW.YAMDEF.COM</h1>
      <div class="cta">
        SEE MORE
      </div>
    </div>
  </div>
  <div class="image-container">
    <div class="overlay"></div>
    <img src="./assets/background.jpg" width="90%" alt="">
  </div>
  <div class="socials">
    <ul>
      <li class="link">FACEBOOK</li>
      <li class="link">LINKEN</li>
      <li class="link">GITHUB</li>
    </ul>
  </div>
  <script src="./js/index.js"></script>
</body>
</html>